In [1]:
import csv
import pandas as pd

C:\Users\anabi\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [12]:
#dealers = pd.read_csv("dealers_cleaned.csv")
cars = pd.read_csv("cars_cleaned.csv")
reviews = pd.read_csv("analysis_dataset.csv")

In [3]:
reviews

,dealer_id,review_score,cust_service,buying_process,repair_quality,facilities,experience,recommend,purchase_type,purchase,sentiment_score
0,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,NaN,NaN,NaN,NaN,5.0,yes,new,no purchase,0.8979
1,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,NaN,5.0,NaN,5.0,5.0,yes,new,yes,0.9246
2,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,NaN,NaN,NaN,NaN,5.0,yes,repair,no purchase,0.8779
3,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,NaN,NaN,NaN,NaN,5.0,yes,used,no purchase,0.8777
4,924b6a44-24bb-4640-844d-2ace5ea8f188,2.0,NaN,NaN,NaN,NaN,2.0,no,repair,no purchase,-0.3412
...,...,...,...,...,...,...,...,...,...,...,...
195324,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,NaN,NaN,NaN,NaN,5.0,yes,used,no purchase,0.9442
195325,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,NaN,NaN,NaN,NaN,5.0,yes,new,no purchase,0.7269
195326,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,NaN,NaN,NaN,NaN,5.0,yes,used,no purchase,0.7998
195327,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,NaN,NaN,5.0,yes,used,yes,0.9349
195328,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,NaN,NaN,NaN,NaN,5.0,yes,new,no purchase,0.8225

In [6]:
reviews_preprocessed = pd.read_csv("reviews_preprocessed.csv")

In [26]:
cars

,dealer_id,title,mileage,price
0,924b6a44-24bb-4640-844d-2ace5ea8f188,2018 BMW X5 xDrive50i,87889.0,33891
1,924b6a44-24bb-4640-844d-2ace5ea8f188,2015 Nissan Frontier S,114543.0,12941
2,924b6a44-24bb-4640-844d-2ace5ea8f188,2014 Chevrolet Suburban 1500 LTZ,102963.0,20891
3,924b6a44-24bb-4640-844d-2ace5ea8f188,2023 Kia Sportage SX-Prestige,NaN,34750
4,924b6a44-24bb-4640-844d-2ace5ea8f188,2016 BMW X6 xDrive35i,99210.0,28891
...,...,...,...,...
141097,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz EQS 580 Base 4MATIC,NaN,131059
141098,593465de-0226-4a67-8d89-320ae6bee4f6,2021 Lincoln Navigator L Reserve,25456.0,73399
141099,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz GLE 350 Base 4MATIC,NaN,72794
141100,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz EQS 580 Base 4MATIC,NaN,132479
141101,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz GLE 450 AWD 4MATIC,NaN,80944

In [27]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195329 entries, 0 to 195328
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dealer_id        195329 non-null  object
 1   review_score     195329 non-null  float64
 2   cust_service     167013 non-null  float64
 3   buying_process   30672 non-null   float64
 4   repair_quality   25006 non-null   float64
 5   facilities       24486 non-null   float64
 6   experience       194991 non-null  float64
 7   recommend        195329 non-null  object
 8   purchase_type    195329 non-null  object
 9   purchase         195329 non-null  object
 10  sentiment_score  195329 non-null  float64
dtypes: float64(7), object(4)
memory usage: 16.4+ MB

In [4]:
reviews2 = reviews.dropna(subset=['experience'])

In [5]:
reviews2 = reviews2.reset_index()
reviews2 = reviews2.drop("index", axis = 1)

In [19]:
import math

Impute missing values for ratings

In [12]:
reviews2['cust_service'] = [(reviews2['review_score'].loc[i]+reviews2['experience'].loc[i])/2 
                            if math.isnan(reviews2['cust_service'].loc[i]) 
                            else reviews2['cust_service'].loc[i] 
                            for i in range(len(reviews2))]

In [13]:
reviews2['buying_process'] = [(reviews2['review_score'].loc[i]+reviews2['experience'].loc[i])/2 
                            if math.isnan(reviews2['buying_process'].loc[i]) 
                            else reviews2['buying_process'].loc[i] 
                            for i in range(len(reviews2))]

In [15]:
reviews2['repair_quality'] = [(reviews2['review_score'].loc[i]+reviews2['experience'].loc[i])/2 
                            if math.isnan(reviews2['repair_quality'].loc[i]) 
                            else reviews2['repair_quality'].loc[i] 
                            for i in range(len(reviews2))]

In [16]:
reviews2['facilities'] = [(reviews2['review_score'].loc[i]+reviews2['experience'].loc[i])/2 
                            if math.isnan(reviews2['facilities'].loc[i]) 
                            else reviews2['facilities'].loc[i] 
                            for i in range(len(reviews2))]

In [17]:
reviews2

,dealer_id,review_score,cust_service,buying_process,repair_quality,facilities,experience,recommend,purchase_type,purchase,sentiment_score
0,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.8979
1,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,yes,0.9246
2,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,5.0,5.0,5.0,5.0,5.0,yes,repair,no purchase,0.8779
3,924b6a44-24bb-4640-844d-2ace5ea8f188,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,no purchase,0.8777
4,924b6a44-24bb-4640-844d-2ace5ea8f188,2.0,2.0,2.0,2.0,2.0,2.0,no,repair,no purchase,-0.3412
...,...,...,...,...,...,...,...,...,...,...,...
194986,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,no purchase,0.9442
194987,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.7269
194988,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,no purchase,0.7998
194989,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.9349
194990,593465de-0226-4a67-8d89-320ae6bee4f6,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.8225

In [45]:
reviews2.to_csv("analysis_dataset.csv", index=False)

In [9]:
describe = reviews.groupby('dealer_id')['review_score'].describe()

In [10]:
describe['mean'] = round(describe['mean'], 1)

In [11]:
describe

,count,mean,std,min,25%,50%,75%,max
dealer_id,,,,,,,,
006b61d2-2bb9-4045-a005-b98ea3ae8acf,9.0,3.2,2.108185,1.0,1.000,5.0,5.0,5.0
00916a19-462d-4156-ab9d-b8c1471edfa0,343.0,3.4,1.824773,1.0,1.000,4.8,5.0,5.0
00b48b85-f506-4a9f-86d8-66ea8d024784,183.0,4.2,1.396837,1.0,4.200,5.0,5.0,5.0
00d03f8d-4fbe-419e-bc61-d39d125b91d8,74.0,3.7,1.737459,1.0,1.625,5.0,5.0,5.0
00fd57ca-13b0-4872-8e40-4e691a0e45a6,441.0,4.5,0.907418,1.0,4.400,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...
ff02ec6e-8764-45ae-bf2d-966d44302dcd,261.0,4.4,1.016548,1.0,4.000,5.0,5.0,5.0
ff09a4f1-ce1d-4793-a149-fb13572fd1d5,1.0,5.0,NaN,5.0,5.000,5.0,5.0,5.0
ff920ec1-8a74-4351-9305-00e2d4df4dad,26.0,4.2,1.317503,1.0,4.225,4.9,5.0,5.0
ffe70a26-399e-494c-9833-cc063898cb83,72.0,4.0,1.417694,1.0,3.900,4.9,5.0,5.0
ffeb3aa3-1998-4796-bc39-143f4106190d,373.0,4.8,0.672551,1.0,4.800,5.0,5.0,5.0

In [12]:
for i in range(len(describe)):
    dealers['nr_reviews'][dealers['dealer_id'] == describe.index[i]] = describe['count'][i]

C:\Users\anabi\Anaconda03\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141102 entries, 0 to 141101
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   dealer_id  141102 non-null  object
 1   title      141102 non-null  object
 2   mileage    81229 non-null   float64
 3   price      141102 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.3+ MB

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194991 entries, 0 to 194990
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dealer_id        194991 non-null  object
 1   review_score     194991 non-null  float64
 2   cust_service     194991 non-null  float64
 3   buying_process   194991 non-null  float64
 4   repair_quality   194991 non-null  float64
 5   facilities       194991 non-null  float64
 6   experience       194991 non-null  float64
 7   recommend        194991 non-null  object
 8   purchase_type    194991 non-null  object
 9   purchase         194991 non-null  object
 10  sentiment_score  194991 non-null  float64
dtypes: float64(7), object(4)
memory usage: 16.4+ MB

In [6]:
grouped_cars = cars.groupby('dealer_id')['price'].describe()

In [37]:
grouped_cars

,count,mean,std,min,25%,50%,75%,max
dealer_id,,,,,,,,
003e196f-5940-4070-82b8-62f84b3c98e7,81.0,37633.506173,13700.870905,7389.0,28998.00,35558.0,46948.00,74585.0
006b61d2-2bb9-4045-a005-b98ea3ae8acf,22.0,6276.818182,1051.364811,4995.0,5345.00,5995.0,7220.00,7995.0
006b8bdf-8bf4-47d9-b9e0-80b0c50e2890,24.0,14220.500000,5160.621171,5883.0,11383.00,12883.0,16083.00,26883.0
00916a19-462d-4156-ab9d-b8c1471edfa0,150.0,36802.333333,8969.787843,22934.0,29523.00,36308.0,40058.25,72137.0
00b48b85-f506-4a9f-86d8-66ea8d024784,56.0,34628.785714,8246.534712,20977.0,29106.75,31977.0,42493.75,53830.0
...,...,...,...,...,...,...,...,...
ff02ec6e-8764-45ae-bf2d-966d44302dcd,71.0,32160.436620,12169.798695,9999.0,23693.50,28995.0,39942.00,68549.0
ff09a4f1-ce1d-4793-a149-fb13572fd1d5,34.0,87527.588235,60754.351831,6488.0,35488.00,78481.0,117231.00,284981.0
ff920ec1-8a74-4351-9305-00e2d4df4dad,111.0,37739.774775,19830.622966,5984.0,20753.50,35150.0,58502.00,77986.0
ffe70a26-399e-494c-9833-cc063898cb83,152.0,53789.144737,17927.050118,19702.0,39673.75,54208.0,66017.50,104950.0
ffeb3aa3-1998-4796-bc39-143f4106190d,208.0,34910.687500,13313.918058,8999.0,23814.00,33392.0,44649.00,66689.0

In [5]:
grouped_reviews = reviews.groupby('dealer_id')['review_score'].describe()
grouped_reviews

,count,mean,std,min,25%,50%,75%,max
dealer_id,,,,,,,,
006b61d2-2bb9-4045-a005-b98ea3ae8acf,9.0,3.222222,2.108185,1.0,1.000,5.0,5.0,5.0
00916a19-462d-4156-ab9d-b8c1471edfa0,343.0,3.389213,1.824773,1.0,1.000,4.8,5.0,5.0
00b48b85-f506-4a9f-86d8-66ea8d024784,183.0,4.185246,1.396837,1.0,4.200,5.0,5.0,5.0
00d03f8d-4fbe-419e-bc61-d39d125b91d8,74.0,3.701351,1.737459,1.0,1.625,5.0,5.0,5.0
00fd57ca-13b0-4872-8e40-4e691a0e45a6,441.0,4.498639,0.907418,1.0,4.400,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...
ff02ec6e-8764-45ae-bf2d-966d44302dcd,261.0,4.407280,1.016548,1.0,4.000,5.0,5.0,5.0
ff09a4f1-ce1d-4793-a149-fb13572fd1d5,1.0,5.000000,NaN,5.0,5.000,5.0,5.0,5.0
ff920ec1-8a74-4351-9305-00e2d4df4dad,26.0,4.230769,1.317503,1.0,4.225,4.9,5.0,5.0
ffe70a26-399e-494c-9833-cc063898cb83,72.0,4.048611,1.417694,1.0,3.900,4.9,5.0,5.0
ffeb3aa3-1998-4796-bc39-143f4106190d,373.0,4.789008,0.672551,1.0,4.800,5.0,5.0,5.0

In [22]:
grouped_reviews = grouped_reviews.reset_index()

In [23]:
grouped_reviews

,dealer_id,count,mean,std,min,25%,50%,75%,max
0,006b61d2-2bb9-4045-a005-b98ea3ae8acf,9.0,3.222222,2.108185,1.0,1.000,5.0,5.0,5.0
1,00916a19-462d-4156-ab9d-b8c1471edfa0,343.0,3.389213,1.824773,1.0,1.000,4.8,5.0,5.0
2,00b48b85-f506-4a9f-86d8-66ea8d024784,183.0,4.185246,1.396837,1.0,4.200,5.0,5.0,5.0
3,00d03f8d-4fbe-419e-bc61-d39d125b91d8,74.0,3.701351,1.737459,1.0,1.625,5.0,5.0,5.0
4,00fd57ca-13b0-4872-8e40-4e691a0e45a6,441.0,4.498639,0.907418,1.0,4.400,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...
1018,ff02ec6e-8764-45ae-bf2d-966d44302dcd,261.0,4.407280,1.016548,1.0,4.000,5.0,5.0,5.0
1019,ff09a4f1-ce1d-4793-a149-fb13572fd1d5,1.0,5.000000,NaN,5.0,5.000,5.0,5.0,5.0
1020,ff920ec1-8a74-4351-9305-00e2d4df4dad,26.0,4.230769,1.317503,1.0,4.225,4.9,5.0,5.0
1021,ffe70a26-399e-494c-9833-cc063898cb83,72.0,4.048611,1.417694,1.0,3.900,4.9,5.0,5.0
1022,ffeb3aa3-1998-4796-bc39-143f4106190d,373.0,4.789008,0.672551,1.0,4.800,5.0,5.0,5.0

In [24]:
grouped_cars = grouped_cars.reset_index()

In [25]:
grouped_cars

,dealer_id,count,mean,std,min,25%,50%,75%,max
0,003e196f-5940-4070-82b8-62f84b3c98e7,81.0,37633.506173,13700.870905,7389.0,28998.00,35558.0,46948.00,74585.0
1,006b61d2-2bb9-4045-a005-b98ea3ae8acf,22.0,6276.818182,1051.364811,4995.0,5345.00,5995.0,7220.00,7995.0
2,006b8bdf-8bf4-47d9-b9e0-80b0c50e2890,24.0,14220.500000,5160.621171,5883.0,11383.00,12883.0,16083.00,26883.0
3,00916a19-462d-4156-ab9d-b8c1471edfa0,150.0,36802.333333,8969.787843,22934.0,29523.00,36308.0,40058.25,72137.0
4,00b48b85-f506-4a9f-86d8-66ea8d024784,56.0,34628.785714,8246.534712,20977.0,29106.75,31977.0,42493.75,53830.0
...,...,...,...,...,...,...,...,...,...
1163,ff02ec6e-8764-45ae-bf2d-966d44302dcd,71.0,32160.436620,12169.798695,9999.0,23693.50,28995.0,39942.00,68549.0
1164,ff09a4f1-ce1d-4793-a149-fb13572fd1d5,34.0,87527.588235,60754.351831,6488.0,35488.00,78481.0,117231.00,284981.0
1165,ff920ec1-8a74-4351-9305-00e2d4df4dad,111.0,37739.774775,19830.622966,5984.0,20753.50,35150.0,58502.00,77986.0
1166,ffe70a26-399e-494c-9833-cc063898cb83,152.0,53789.144737,17927.050118,19702.0,39673.75,54208.0,66017.50,104950.0
1167,ffeb3aa3-1998-4796-bc39-143f4106190d,208.0,34910.687500,13313.918058,8999.0,23814.00,33392.0,44649.00,66689.0

In [29]:
merged = pd.merge(grouped_cars, grouped_reviews, how='inner', on = 'dealer_id', suffixes=('_cars', '_rev'))

In [30]:
merged = merged[['dealer_id', 'count_cars', 'count_rev']]

In [31]:
merged

                                dealer_id  count_cars  count_rev
0    006b61d2-2bb9-4045-a005-b98ea3ae8acf        22.0        9.0
1    00916a19-462d-4156-ab9d-b8c1471edfa0       150.0      343.0
2    00b48b85-f506-4a9f-86d8-66ea8d024784        56.0      183.0
3    00d03f8d-4fbe-419e-bc61-d39d125b91d8       242.0       74.0
4    00fd57ca-13b0-4872-8e40-4e691a0e45a6       143.0      441.0
..                                    ...         ...        ...
974  ff02ec6e-8764-45ae-bf2d-966d44302dcd        71.0      261.0
975  ff09a4f1-ce1d-4793-a149-fb13572fd1d5        34.0        1.0
976  ff920ec1-8a74-4351-9305-00e2d4df4dad       111.0       26.0
977  ffe70a26-399e-494c-9833-cc063898cb83       152.0       72.0
978  ffeb3aa3-1998-4796-bc39-143f4106190d       208.0      373.0

[979 rows x 3 columns]

In [32]:
merged['diff'] = merged['count_rev'] - merged['count_cars']

In [136]:
merged

                                dealer_id  count_cars  count_rev   diff
0    006b61d2-2bb9-4045-a005-b98ea3ae8acf        22.0        9.0  -13.0
1    00916a19-462d-4156-ab9d-b8c1471edfa0       150.0      343.0  193.0
2    00b48b85-f506-4a9f-86d8-66ea8d024784        56.0      183.0  127.0
3    00d03f8d-4fbe-419e-bc61-d39d125b91d8       242.0       74.0 -168.0
4    00fd57ca-13b0-4872-8e40-4e691a0e45a6       143.0      441.0  298.0
..                                    ...         ...        ...    ...
974  ff02ec6e-8764-45ae-bf2d-966d44302dcd        71.0      261.0  190.0
975  ff09a4f1-ce1d-4793-a149-fb13572fd1d5        34.0        1.0  -33.0
976  ff920ec1-8a74-4351-9305-00e2d4df4dad       111.0       26.0  -85.0
977  ffe70a26-399e-494c-9833-cc063898cb83       152.0       72.0  -80.0
978  ffeb3aa3-1998-4796-bc39-143f4106190d       208.0      373.0  165.0

[979 rows x 4 columns]

In [137]:
#filter reviews so that we either take all reviews if there are more cars, or we take as many reviews
#as nr of cars (if there are more reviews than cars)
r = []
for i in range(len(merged)):
    dealer = merged['dealer_id'].loc[i]
    nr_cars = merged['count_cars'].loc[i]
    rev = reviews[reviews['dealer_id'] == dealer]
    if len(rev) == 0: 
        continue
    if merged['diff'].loc[i] < 0 :
        r.append(rev)
    else:
        r.append(rev.sample(n=int(nr_cars)))
        
r = pd.concat(r)

In [42]:
r

,dealer_id,review_score,cust_service,buying_process,repair_quality,facilities,experience,recommend,purchase_type,purchase,sentiment_score
67135,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.8357
67136,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.9482
67137,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.8316
67138,006b61d2-2bb9-4045-a005-b98ea3ae8acf,1.0,1.0,1.0,1.0,1.0,1.0,no,used,no,0.9538
67139,006b61d2-2bb9-4045-a005-b98ea3ae8acf,1.0,1.0,1.0,1.0,1.0,1.0,no,used,no,-0.1450
...,...,...,...,...,...,...,...,...,...,...,...
182217,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,no purchase,0.4588
182439,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.9274
182288,ffeb3aa3-1998-4796-bc39-143f4106190d,3.2,4.0,3.1,3.1,3.1,3.0,yes,repair,no purchase,0.8882
182322,ffeb3aa3-1998-4796-bc39-143f4106190d,4.8,5.0,4.9,4.9,4.9,5.0,yes,new,no purchase,0.9842
182232,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,no purchase,0.5719

In [47]:
#keep only the cars that are in the new review dataset
cars = cars[cars['dealer_id'].isin(r['dealer_id'])]

In [66]:
cars = cars.reset_index()

In [48]:
#saving only reviews that match with cars
r.to_csv("r.csv", index = False)

In [139]:
#saving only cars that match with reviews
cars = pd.read_csv('cars_in_rev.csv')

In [140]:
cars

,dealer_id,title,mileage,price
0,924b6a44-24bb-4640-844d-2ace5ea8f188,2018 BMW X5 xDrive50i,87889.0,33891
1,924b6a44-24bb-4640-844d-2ace5ea8f188,2015 Nissan Frontier S,114543.0,12941
2,924b6a44-24bb-4640-844d-2ace5ea8f188,2014 Chevrolet Suburban 1500 LTZ,102963.0,20891
3,924b6a44-24bb-4640-844d-2ace5ea8f188,2023 Kia Sportage SX-Prestige,NaN,34750
4,924b6a44-24bb-4640-844d-2ace5ea8f188,2016 BMW X6 xDrive35i,99210.0,28891
...,...,...,...,...
128968,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz EQS 580 Base 4MATIC,NaN,131059
128969,593465de-0226-4a67-8d89-320ae6bee4f6,2021 Lincoln Navigator L Reserve,25456.0,73399
128970,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz GLE 350 Base 4MATIC,NaN,72794
128971,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz EQS 580 Base 4MATIC,NaN,132479
128972,593465de-0226-4a67-8d89-320ae6bee4f6,2023 Mercedes-Benz GLE 450 AWD 4MATIC,NaN,80944

In [141]:
#check for extra cars remaining and make them equal to the nr of reviews
indexes_to_drop = []
for i in range(len(merged)):
    dealer = merged['dealer_id'].loc[i]
    nr_cars = merged['count_cars'].loc[i]
    if merged['diff'].loc[i] < 0 : #delete diff rows from cars
        diff = int(abs(merged['diff'].loc[i]))
        #print('diff: ', diff)
        c = cars[cars['dealer_id'] == dealer].sample(n=diff).index.values
        #print('c: ', len(c))
        indexes_to_drop.append(c)
        #remain.append(cars.take(list(indexes_to_keep)))
        

#cars.take(indexes_to_keep)

In [142]:
indexes_to_drop = [element for innerList in indexes_to_drop for element in innerList]

In [144]:
len(indexes_to_drop)

42299

In [146]:
cars = cars.drop(indexes_to_drop)

In [154]:
cars = cars.sort_values('dealer_id')

In [167]:
cars = cars.reset_index()
cars = cars.drop(columns = 'index')

In [168]:
cars

,dealer_id,title,mileage,price
0,006b61d2-2bb9-4045-a005-b98ea3ae8acf,2013 INFINITI G37x Base,203000.0,7995
1,006b61d2-2bb9-4045-a005-b98ea3ae8acf,2013 Ford Escape SE,163000.0,5995
2,006b61d2-2bb9-4045-a005-b98ea3ae8acf,2011 Chevrolet HHR LS,144000.0,4995
3,006b61d2-2bb9-4045-a005-b98ea3ae8acf,2008 Ford Explorer Limited,196000.0,4995
4,006b61d2-2bb9-4045-a005-b98ea3ae8acf,2009 Ford Escape XLT,198000.0,5295
...,...,...,...,...
86669,ffeb3aa3-1998-4796-bc39-143f4106190d,2023 Kia Forte LXS,NaN,23379
86670,ffeb3aa3-1998-4796-bc39-143f4106190d,2023 Kia Sorento Hybrid EX,NaN,44329
86671,ffeb3aa3-1998-4796-bc39-143f4106190d,2019 Kia Forte S,36319.0,18998
86672,ffeb3aa3-1998-4796-bc39-143f4106190d,2023 Kia Niro EX,NaN,31145
86673,ffeb3aa3-1998-4796-bc39-143f4106190d,2015 Kia Forte LX,64739.0,13998

In [169]:
r

,dealer_id,review_score,cust_service,buying_process,repair_quality,facilities,experience,recommend,purchase_type,purchase,sentiment_score
0,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.8357
1,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.9482
2,006b61d2-2bb9-4045-a005-b98ea3ae8acf,5.0,5.0,5.0,5.0,5.0,5.0,yes,used,yes,0.8316
3,006b61d2-2bb9-4045-a005-b98ea3ae8acf,1.0,1.0,1.0,1.0,1.0,1.0,no,used,no,0.9538
4,006b61d2-2bb9-4045-a005-b98ea3ae8acf,1.0,1.0,1.0,1.0,1.0,1.0,no,used,no,-0.1450
...,...,...,...,...,...,...,...,...,...,...,...
86669,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.7184
86670,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.9153
86671,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.9828
86672,ffeb3aa3-1998-4796-bc39-143f4106190d,4.8,5.0,4.9,4.9,4.9,5.0,yes,used,no purchase,0.9277
86673,ffeb3aa3-1998-4796-bc39-143f4106190d,5.0,5.0,5.0,5.0,5.0,5.0,yes,new,no purchase,0.7096

Now that we have an equal number of reviews and cars, we sort them on dealer_id to be able to concatenate them

In [153]:
r = r.sort_values('dealer_id')

In [164]:
r = r.reset_index()

In [166]:
r = r.drop(columns = 'index')

In [171]:
regression = pd.concat([cars, r], axis=1)

In [172]:
regression.to_csv("regression.csv", index = False)